<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Titulo de la pagina-->
    <title>Detalle Ordenes[PA28819]</title>
    <!--Libreria Personalizada de Bootstrap-->
    <link rel="stylesheet" href="scss/custom.css"/>
    <!--Libreria para iconos de Bootstrap(Por si es necesario)-->
    <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css"/>
    <!--Documento personal de CSS-->
    <link rel="stylesheet" href="./css/mycss.css"/>
    <!--Añadir el CDN de VUE a nuestro proyecto-->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body id="app">
<!--Header STATICO (PA 28819)
    CLASES:
    Text Light: Coloca color blanco al texto
    bg-primary: Coloca color azul a todo el div
    ps-3: Coloca un padding de 3 px al text en la izquierda
    py-1: Coloca un padding en el ejey de 1px; es decir arriba y abajo
-->
<header class="bg-primary">

    <div class="container-fluid">
        <!--La empresa por default-->
        <!--En el created hace un set de la empresa por default en empresa[0]-->

        <h1 class="navbar-brand  bg-primary text-uppercase text-light col-12 col-lg-12  rounded-3" href="#">
            {{ selectedFactura.serie }} {{ selectedFactura.numero }} {{ selectedFactura.nombre }}</h1>
        <form class="pb-2">
            <select class="form-select bg-light text-center w-100 text-uppercase" name="empresas" id="empresas"
                    v-model="selectedFactura" v-on:change="setSelected(selectedFactura)">
                <!--Ponemos como value la id de cada factura-->
                <option v-for="factura in facturas" :key="factura.id" :value="factura" >
                    <!--SI la ID es 0 o 1 que se añada al option que esta selecionado-->
                    {{factura.serie}} {{factura.numero}} {{factura.nomfiscli}}
                </option>
            </select>
        </form>
    </div>
</header>
<!--Contenedor Inventario-->
<div class="mx-1">
    <!--GRUPO HORIZONTAL ESTATICO con la clasificacion del inventario-->
    <div class="header">
        <ul class="list-group list-group-horizontal col-12">
            <li class="list-group-item col-3 py-0"><strong>OF</strong></li>
            <li class="list-group-item col-4 py-0"><strong>Artículo</strong></li>
            <li class="list-group-item col-2 py-0"><strong>Cant</strong></li>
            <li class="list-group-item col-1 py-0"><strong>F</strong></li>
            <li class="list-group-item col-1 py-0"><strong>L</strong></li>
            <li class="list-group-item col-1 py-0"><strong>T</strong></li>
        </ul>
    </div>
    <!--GRUPO NO ESTATICO DE GENERACION DE PRODUCTOS-->
    <div>
        <ul v-for="a in articulos" :key="`$index`" class="list-group list-group-horizontal col-12">

            <li class="list-group-item col-3" v-bind:class="{'green-color': comprobar($index,a)}">
                {{ a.serie + '/' + a.numero }}
            </li>
            <li class="list-group-item col-4" v-bind:class="{'green-color': comprobar($index,a)}">{{ a.denoart }}</li>
            <li class="list-group-item col-2" v-bind:class="{'green-color': comprobar($index,a)}">{{ a.cantidad }}</li>
            <li class="list-group-item col-1" v-bind:class="{'green-color': comprobar($index,a)}">
                <div v-if="a.fondo === 'X'" class="form-check">
                    <input class="form-check-input" v-model="fondos[$index]" type="checkbox" value="false" id="check1">
                    <label class="form-check-label" for="check1"></label>
                </div>
                <div v-else>{{ fondos[$index] = '' }}</div>
            </li>
            <li class="list-group-item col-1" v-bind:class="{'green-color': comprobar($index,a)}">
                <div v-if="a.lateral === 'X'" class="form-check">
                    <input class="form-check-input" v-model="laterales[$index]" type="checkbox" value="false"
                           id="check2">
                    <label class="form-check-label" for="check2"></label>
                </div>
                <div v-else>{{ laterales[$index] = '' }}</div>
            </li>
            <li class="list-group-item col-1" v-bind:class="{'green-color': comprobar($index,a)}">
                <div v-if="a.tapa === 'X'" class="form-check">
                    <input class="form-check-input" v-model="tapas[$index]" type="checkbox" value="false" id="check3">
                    <label class="form-check-label" for="check3"></label>
                </div>
                <div v-else>{{ tapas[$index] = '' }}</div>
            </li>

        </ul>
    </div>
</div>

<footer class="mx-1">
    <div class="text-center p-4 py-2" style="background-color: rgba(0, 0, 0, 0.05)">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Enviar a producción
        </button>
    </div>
</footer>

<!--Codigo del modal-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body text-center">
                <p>Se han finalizado todas las fases!</p><br>
                <p><strong>Seguro que quieres enviar a la produccion?</strong></p>
            </div>
            <div class="modal-footer col-12">
                <button type="button" class="btn btn-secondary col-6 mx-0 border border-light" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary col-6 mx-0 border border-light"
                        v-on:click="showProduction();">Enviar
                </button>
            </div>
        </div>
    </div>
</div>

<!--Importar axios-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
<!--Vinculacion de JQuery, JS-->
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!--Vinculacion de VUEJS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<!--Cargo mi Javascript-->
<script src="./scripts/index.js" type="module"></script>
</body>

</html>
